/* For larger screen display (from 641px to 1007px) */
@media (min-width:601px) and (max-width: 1440px) {
    body {
    background-image: url(./images/bg-intro-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-red);
    font-family: var(--font-family);
      font-size: var(--font-size-body);
      color: white; 
    }
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        height: 100vh;
        gap: 10px;  
        grid-template-areas: 
          "left  right";
    }
    
    .floatLeftContent{
        grid-area: left;
        place-items: center;
        margin-top: 350px;
        margin-left: 200px;
        width:500px;
        height: 400px;
    }
    .floatLeftContent h1{
        font-size: 40px;
        font-weight: var(--font-weight-bold);
    }
    .floatRightContent{
        grid-area: right; 
        margin-top: 200px;
        width: 750px;
        height: 700px;
    }
    .floatRightContent #topNotification {
        border: 2px solid var(--color-blue);
        border-radius: 5px;
        background-color: var(--color-blue);
        width: 700px;
        height: 35px;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
        box-shadow: 0 8px 2px var(--color-dark-blue-transparent);
    }
    .floatRightContent #topNotification span{
        opacity: 0.7;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 700px;
        height: 550px;
        border: 2px solid; 
        border-radius:8px;
        place-items: center;
        margin:35px auto;
        box-shadow: 0 10px 3px var(--color-dark-blue-transparent);
        
    }
    .form input{
        width: 470px;
        height: 40px;
        margin-top: 40px;
        border: 1px solid;
        border-radius: 5px;
        color: black;
        padding-left: 30px;
        font-family: var(--font-family);
        font-weight: var(--font-weight-bold);
    
    }
    form p {
        color: var(--color-grayish-blue);
        font-size: 12px;
    
    }
    form p span{
        color: var(--color-red);
    }
    .submit{
        width: 500px;
        height: 40px;
        margin-top: 40px;
        border: 1px ;
        border-radius: 5px;
        background-color: var(--color-green);
        color: white;
        text-transform: uppercase;
    }
    }
    